version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: docintel_postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: docintel
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  minio:
    image: minio/minio
    container_name: docintel_minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./data/minio:/data

  redis:
    image: redis:alpine
    container_name: docintel_redis
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data
